[Pp]hone[Pp]ad[Tt]ext/bin/
[Pp]hone[Pp]ad[Tt]ext/obj/
.idea/
bin/
obj/
*.iml
*.ipr
*.iws
obj/rider.project.restore.info
*.user
*.suo
[Nn]u[Gg]et/
*.nupkg
packages/
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/*.nuget.dgspec.json
obj/*.nuget.g.props
obj/*.nuget.g.targets
*.runtimeconfig.json
*.deps.json
*.dll
*.pdb
*.cache
*.exe
apphost
*.GeneratedMSBuildEditorConfig.editorconfig
*.GlobalUsings.g.cs
*.AssemblyAttributes.cs
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.genruntimeconfig.cache
ref/
refint/
*.swp
*.log